.Menu-principal{
    background-color: #337ab7;   
  }

  .Menu-principal .navbar-brand{
    font-size: 20px;
    font-family: serif;
    color:snow;
  }
  
  .Menu-principal .navbar-nav{    
    font-size: 20px;
  }
  .Menu-principal .navbar-nav li a{    
    color:snow;
  }
  .Aposta-user{
    background-color: lightskyblue;
  }
  .TagLabel{
    background-color: #337ab7;
    color: white;
    padding: 10px;
  }
  .Margin_5{
    margin: 5px;
  }